<% layout("/layouts/boilerplate.ejs") %>
<script>
  const mapToken = "<%= process.env.MAPBOX_TOKEN%>";
  const listing = <%- JSON.stringify(listing)%>;
</script>


<div class="row">
  <div class="col-8 offset-2">
    <h2 class="text-center"><%=listing.title%></h2>
    <div class="card listing-card col-8 offset-2">
      <img
        src="<%=listing.image.url%>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">Owned by : <%=listing.owner.username%></p>
        <p class="card-text text-center"><%=listing.description%></p>
        <p class="card-text text-center">
          &#8377; <%=listing.price.toLocaleString("en-IN")%>
        </p>
        <p class="card-text text-center"><%=listing.location%></p>
        <p class="card-text text-center"><%=listing.country%></p>
      </div>
    </div>
    <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
    <div class="btns offset-2">
      <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark edit-btn"
        >Edit</a
      >
      <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
    <% } %>
  </div>
  <div class="col-8 offset-2 mb-3">
    <% if(currentUser) { %>
    <hr />
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%=listing.id%>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="second-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="second-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="second-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="second-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="second-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="second-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="second-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="second-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="second-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="second-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <!-- <div class="mb-3 mt-3">
        <label for="name" class="form-label">Your Name</label>
        <input
          type="text"
          id="name"
          name="review[by]"
          class="form-control"
          required
          placeholder="Your name here..."
        />
      </div> -->
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          rows="5"
          placeholder="Your review here..."
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comments.</div>
      </div>
      <button class="btn btn-outline-dark mb-3 mt-3">Submit</button>
    </form>
    <% } %>
    <hr />

    <!-- MAP -->
    <div class="col-12 mb-3">
      <h3 class="text-center">Where you'll be</h3>
      <div id="map" class="offset-1"></div>
    </div>
    
    <% if(listing.reviews.length > 0) { %>
    <hr />
    <p><b>All Reviews</b></p>
    <div class="row">
      <% for(review of listing.reviews) { %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= review.author.username %></h5>
          <p class="card-text"><%= review.rating %> stars</p>
          <p class="starability-result" data-rating="<%=review.rating%>"</p>
          <p class="card-text"><%= review.comment %></p>
          <% if(currentUser && currentUser._id.equals(review.author._id)) { %>
          <form
            class="mb-3"
            method="POST"
            action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
</div>

<script src="/js/map.js"></script>